<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.democoordinatorlayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.SimpleFabActivity" />
        <activity android:name=".demo.FabFromLibraryActivity" />
        <activity android:name=".demo.FabFromLibraryWithCustomBehaviourActivity" />
        <activity
            android:name=".demo.ScrollFlagEnterAlwaysActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".demo.ScrollFlagEnterAlwaysCollapsedActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".demo.ScrollFlagExitUntilCollapsedActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".demo.ScrollFlagSnapActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>